@import 'src/style/mixin.scss';
%active {
  background: gray;
  color: #fff;
}

// ui layout
.tabUiStyle {
  // tablist
  [role='tablist'] {
    [role="tab"] {
      cursor: pointer;
      &[aria-selected='true'],
      &.active {
        @extend %active;
      }
    }
  }

  // tabpanel
  [role='tabpanel'] {
    min-height: 200px;
    &[aria-hidden='true'],
    &.hidden {
      display: none;
    }
  }

  // older browser
  .panel {
    display: none;
    &.active {
      display: block;
    }
  }
}

// ui styling
.tabUiStyle {
  [role='tablist'] {
    &:after {
      content: '';
      display: block;
      clear: both;
    }

    [role='tab'] {
      float: left;
      padding: 5px 10px;
      background: #fff;
    }
  }

  [role='tabpanel'] {
    padding: 10px 20px;
    background: #efefef;
    border: 1px solid lighten(gray, 20%);
  }
}
