@import 'src/style/mixin.scss';
// var
$activeClass: active;

// common
%active {
  background: $gray-dark;
  color: $white;
}

// root element
.ui_tabpanel.theme_default {
  box-sizing: border-box;
  width: 100%;
  [role='tablist'] {
    overflow: hidden;
  }
  [role='tab'] {
    float: left;
    padding: 5px 10px;
    cursor: pointer;
    &[aria-selected='true'],
    &.#{$activeClass} {
      @extend %active
    }
  }
  [role='tabpanel'] {
    display:none;
    padding: 5px 10px;
    min-height: 200px;
    background: $gray-light;
    border: 1px solid $gray-dark;

    &[aria-hidden='false'],
    &.#{$activeClass} {
      display: block;
    }
  }
}
