html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  border: 0 none;
  background: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NanumGothic/NanumGothic-Regular.eot");
  src: url("../fonts/NanumGothic/NanumGothic-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumGothic/NanumGothic-Regular.woff2") format("woff2"), url("../fonts/NanumGothic/NanumGothic-Regular.woff") format("woff"), url("../fonts/NanumGothic/NanumGothic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NanumGothic/NanumGothic-Bold.eot");
  src: url("../fonts/NanumGothic/NanumGothic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumGothic/NanumGothic-Bold.woff2") format("woff2"), url("../fonts/NanumGothic/NanumGothic-Bold.woff") format("woff"), url("../fonts/NanumGothic/NanumGothic-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumGothicExBold';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/NanumGothic/NanumGothic-ExtraBold.eot");
  src: url("../fonts/NanumGothic/NanumGothic-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumGothic/NanumGothic-ExtraBold.woff2") format("woff2"), url("../fonts/NanumGothic/NanumGothic-ExtraBold.woff") format("woff"), url("../fonts/NanumGothic/NanumGothic-ExtraBold.ttf") format("truetype");
}

body {
  font-family: 'NanumGothic';
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-size: 14px;
  line-height: 1.3em;
}

.mt40 {
  margin-top: 40px;
}

.pageLayout {
  width: 600px;
  margin: 0 auto;
  color: #272727;
}

.pageLayout h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.pageLayout h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

.pageLayout .pageSection {
  margin-top: 50px;
}

.pageLayout .pageSection:first-child {
  margin-top: 0;
}

.ui_tabpanel.theme_default [role='tab'][aria-selected='true'], .ui_tabpanel.theme_default [role='tab'].active {
  background: gray;
  color: #fff;
}

.ui_tabpanel.theme_default {
  box-sizing: border-box;
  width: 100%;
}

.ui_tabpanel.theme_default [role='tablist'] {
  overflow: hidden;
}

.ui_tabpanel.theme_default [role='tab'] {
  float: left;
  padding: 5px 10px;
  cursor: pointer;
}

.ui_tabpanel.theme_default [role='tabpanel'] {
  display: none;
  padding: 5px 10px;
  min-height: 200px;
  background: #efefef;
  border: 1px solid gray;
}

.ui_tabpanel.theme_default [role='tabpanel'][aria-hidden='false'], .ui_tabpanel.theme_default [role='tabpanel'].active {
  display: block;
}

.ui_tabpanel.theme_default [role='tab'][aria-selected='true'], .ui_tabpanel.theme_default [role='tab'].active {
  background: gray;
  color: #fff;
}

.ui_carousel.theme_default [aria-hidden='true'] {
  display: none;
}

.ui_carousel.theme_default .carousel {
  width: 100%;
  border: 1px solid gray;
}

.ui_carousel.theme_default .innerFrame .frame {
  background: #efefef;
  min-height: 200px;
}

.ui_carousel.theme_default .innerFrame .frame:nth-child(2) {
  background: #d6d6d6;
}

.ui_carousel.theme_default .innerFrame .frame:nth-child(3) {
  background: #bcbcbc;
}

.ui_carousel.theme_default .innerFrame .frame:nth-child(4) {
  background: #a3a3a3;
}

.ui_carousel.theme_default fieldset.ctrls {
  margin-top: 10px;
  vertical-align: middle;
  text-align: left;
  font-size: 0;
}

.ui_carousel.theme_default fieldset.ctrls button {
  display: inline-block;
  margin-left: 5px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 1.4em;
  background: gray;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  color: #fff;
}

.ui_carousel.theme_default fieldset.ctrls button:first-child {
  margin-left: 0;
}

/*# sourceMappingURL=client.css.map */
